/* -------body--------- */

body{
  background-color:#fff;
  margin: 0;
  /* -webkit-appearance: none; */
  font-family:'playfair-display','mr-eaves-modern','ryo-gothic-plusn',sans-serif,serif;
  overflow-wrap: break-word;
}


/* -------header--------- */




.header_1{
  height: 40px;
  padding: 8px;
  background-color: rgb(248,248,248);
  border-bottom: solid 1px rgb(229,231,235);
  text-align: center;
  max-width: 100%;
}

.header_logo{
  height: 40px;
}

.header_2{
  height: 36px;
  padding: 8px;
  background-color: #fff;
  border-bottom: solid 1px rgb(229,231,235);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'ryo-gothic-plusn';
  letter-spacing: 0.1em;
}


/* -------main--------- */

.main{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* height: 80vh; */
  letter-spacing: 0.1em;
}



/* .main p{
  font-family: 'ryo-gothic-plusn';
} */

/* ここまでは親CSSと共通（コピペ）→次はコンポーネント化しておきたい */

.main_title{
  color: #383838;
  font-size: 1.2rem;
  margin: 2vh 0 2.4vh;
  font-family: 'playfair-display';
  letter-spacing: 0.25rem;
}

.subtitle{
  margin-top:0 ;
  font-size: 0.8rem;
}

.bar{
  width: 24vw;
  border-bottom: solid 1px #383838;
  margin: 0 0 3.6vh;
}



/* ここから厳選３枚のリスト表示部分 */

.recommend_item{
  width: 90vw;
  height: 66vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.li_item{
  width: 45vw;
  display: flex;
  align-items: center;
}

.item_text{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.li_item_title{
  display: table-cell; */
  width: 44vw;
  height: 4vh;
  margin-bottom: 0;
  padding: 0 0 0 1vw;
  line-height: 1.2;
  text-align: left;
  font-size: 0.8rem;
  font-family: 'ryo-gothic-plusn';
}

.li_item_detail{
  text-align: left;
  padding: 1vh 1vw;
  font-size: 0.6rem;
  letter-spacing: 0.1em;
  line-height: 1.6;
  font-family: 'ryo-gothic-plusn';
}

.li_item_img{
  width: 45vw;
  height: 22vh;
  object-fit: cover;
  padding: 0 1vw 1vh;
  box-sizing: border-box;
}

/* お気に入りボタン設置のための土台設定 */
.fav{
  position: relative;
}

/* お気に入りボタンの初期位置定義と初期設定 */
.fav_test{
  width: 2vh;
  position: absolute;
  right: 2.8vw;
  bottom: 1.8vh;
  fill:none;
  stroke: #060606;
  stroke-width:2;
  stroke-linecap:round;
  stroke-linejoin:round;
}

/* お気に入りボタンがクリックされたときの色変更 */
/* .li_item_fav:hover{
  filter: invert(20%) sepia(96%) saturate(5339%) hue-rotate(332deg) brightness(100%) contrast(98%);
} */

/* お気に入りボタンがクリックされたときの色変更 */
.fav_test:hover{
  fill:#fc125d;
  stroke: #fc125d;
}

.fav_test: {
  fill:#fc125d;
  stroke: #fc125d;
}





